@font-face {
  font-family: titanOne;
  src: url(/fonts/TitanOne-Regular.ttf) format('truetype');
}

body, button {
  font-family: sans-serif;
}

body {
  margin: 0 0 60px 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  overflow-x: hidden;
}

.cabecalho {
  background-color: #ffc72e;
  /* Cor amarela característica do BK */
  color: #000;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo img {
  height: 40px;
}

.usuario {
  text-align: right;
}

.saudacao {
  font-weight: bold;
}

.pontuacao {
  font-size: 0.9em;
  color: #555;
}

.promocoes .banner-promocional {
  background-color: #fff;
  color: #e47911;
  /* Outra cor presente */
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.8em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.promocoes button {
  background: none;
  border: 1px solid #e47911;
  color: #e47911;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.9em;
  margin-left: 10px;
}

.promocoes {
  margin-left: 200px;
}

.menu-lateral {
  background-color: #f9f9f9;
  width: 600px;
  min-width: 300px;
  padding-top: 80px;
  /* Para não sobrepor com o cabeçalho fixo */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  height: 100vh;
  overflow-y: auto;
}

.secao-menu {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secao-menu:hover,
.secao-menu.ativo {
  background-color: #2a8500;
  transition: 0.1s;
  border-radius: 3%;
  color: white;
}

.conteudo-principal {
  flex-grow: 1;
  padding: 20px;
  padding-top: 80px;
  /* Para não sobrepor com o cabeçalho fixo */
  overflow-x: hidden;
}

.banner-principal {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.lista-produtos h2 {
  color: #e47911;
  margin-bottom: 15px;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.produto {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  text-align: center;
}

.produto:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.6s ease;
  cursor: pointer;
}

.produto img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  height: auto;
  /* Ajuste a altura conforme necessário */
  object-fit: cover;
  /* Para cobrir o espaço sem distorcer */
}

.produto h3 {
  margin-top: 0;
  font-size: 1.1em;
  color: #333;
  padding: 0 10px;
}

.preco {
  color: #28a745;
  /* Cor verde para o preço */
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

.fechar-sacola {
  background: none;
  border: none;
  font-size: 1.2rem;
  float: right;
  color: #a00;
  cursor: pointer;
}

.sacola-expandida {
  position: fixed;
  top: 0;
  left: 0;
  width: 93%;
  height: 100%;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
  background-color: #fef3e2;
  padding: 1.5rem;
  border-radius: 12px;
  margin: 1rem;
}

.sacola-expandida h2 {
  font-size: 1.5rem;
  color: #5a2c02;
  margin-bottom: 1rem;
}

.item-sacola {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.imagem-produto {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 1rem;
}

.info-produto {
  flex-grow: 1;
}

.info-produto h3 {
  font-size: 1rem;
  color: #5a2c02;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalhes {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  color: #555;
  font-size: 0.9rem;
}

.remover-item {
  background-color: #fff0ec;
  border: 1px solid #c43c1e;
  color: #c43c1e;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
}

.acoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.btn-remover {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #c43c1e;
  cursor: pointer;
}

.quantidade {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 0.3rem 0.6rem;
  border-radius: 16px;
}

.quantidade button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}


.rodape {
  background-color: #343a40;
  /* Cor escura para o rodapé */
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.sacola {
  display: flex;
  align-items: center;
}

.sacola img {
  margin-right: 8px;
}

.pedido .valor-total {
  font-weight: bold;
  margin-right: 15px;
}

.rodape button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.rodape button:hover {
  background-color: #c82333;
}

.conteudo-tela-pagamento {
  width: 100%;
}

.tela-pagamento {
  background-color: #fff;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
}

.tela-pagamento h2 {
  text-align: center;
  margin-bottom: 20px;
}

.metodo-pagamento label {
  display: block;
  margin: 8px 0;
}

#troco {
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.tela-pagamento #botao-voltar {
  background-color: #ffc72c;
  border: 1px solid #e47911;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;
}

.tela-pagamento #botao-confirma-pag {
  background-color: #12b420;
  border: 1px solid #005000;
  border-radius: 10px;
  padding: 10px 15px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
}

.tela-confirmacao button{
  background-color: #ffc72c;
  border: 1px solid #e47911;
  border-radius: 10px;
  padding: 10px 15px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
}

/* Adaptações para telas menores (opcional) */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .menu-lateral {
    width: 100%;
    overflow-x: auto;
    height: auto;
    padding-top: 60px;
    /* Ajuste para o cabeçalho menor */
    position: fixed;
    top: 60px;
    z-index: 99;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .secao-menu {
    flex-grow: 1;
    text-align: center;
    border-left: none !important;
    border-bottom: 1px solid #eee;
  }

  .conteudo-principal {
    padding-top: 120px;
    flex-grow: 1;
    padding: 20px;
    padding-top: 80px;
    margin-bottom: 70px;
  }

  .rodape {
    position: static;
  }
}

h2, h3 {
  font-family: titanOne;
  font-weight: 100;
}

.recomecar-pedido {
  margin-right: 30px;
}

.pagamento:hover {
  color: #000;
  transition: 0.1s;
  border-radius: 3%;
  cursor: pointer;
}